.avatar-icon{
    font-size: 140px;
}

ion-avatar{
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.photo-btn{
    position: relative;
    bottom: 25px;
}

h2{
    margin-bottom: 80px;
}

ion-item{
    --padding-top: 15px;
    --padding-bottom: 15px;
    margin-bottom: 10px;
}

.xd{
    color: white;
}